div span.st-emotion-cache-10trblm {
    background: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Hide default placeholder*/
div.st-emotion-cache-1if5ada {
    visibility: hidden;
    }
